* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat", sans-serif;
}

body {
  min-height: 100vh;
  background: rgb(58, 132, 180);
  background: linear-gradient(
    106deg,
    rgba(58, 132, 180, 1) 0%,
    rgba(253, 29, 29, 1) 28%,
    rgba(57, 40, 207, 1) 75%,
    rgba(106, 69, 252, 1) 100%
  );
}

.outer-container {
  display: flex;
  justify-content: center;
}

.container {
  margin: 10px auto;
  width: 80%;
}

header {
  height: 80px;
  /*   border: 1px solid black;
 */
  width: 100%;
  display: flex;
}

input {
  background-color: transparent;
  margin: 10px auto;
  height: 30px;
  border: none;
  color: white;
  border-bottom: 2px solid black;
  padding-left: 16px;
  font-size: 18px;
  width: 80%;
}

input:focus {
  outline: none;
}

h2 {
  margin-top: 20px;
}

.task {
  width: 100%;
  padding: 16px;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  font-size: 16px;
  color: black;
}

.task i {
  float: right;
  margin-left: 20px;
}

.task i:hover {
  cursor: pointer;
}

.completed .task {
  background-color: rgba(0, 0, 0, 0.5);
  color: whitesmoke;
}

/* Classes jQuery */

.show {
  display: block;
}

.hide {
  display: none;
}
